<div class="main top-main">
    <div class="top-message">
        <h1>近くの<br>バスケットコートを<br>探そう</h1>
    </div>
    <br>
    <div class="top-list">
        <ul>
            <li>
                <%= link_to "コートを探す", courts_path, class: "button is-primary" %>
            </li>
            <% if user_signed_in? %>
            <li>
                <%= link_to "新規投稿", new_court_path, class: "button is-primary" %>
            </li>
            <li>
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "button is-primary" %>
            </li>
            <% else %>
            <li>
                <%= link_to "新規ユーザー登録", new_user_registration_path, class: "button is-primary" %>
            </li>
            <li>
                <%= link_to "ログイン", new_user_session_path, class: "button is-primary" %>
            </li>
            <% end %>
            <li class="about-link">
                <%= link_to "このアプリについて", "/about", class: "button is-primary" %>
            </li>
        </ul>
    </div>
</div>
